# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
#your code here

In [ ]:
#your code here

In [ ]:
#your code here

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [ ]:
#your code here

What would you use to find a numberâ€™s square root, as well as its square? Find the square root of x with code

In [1]:
x = 15

In [ ]:
# Square root:

In [2]:
# Square:

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [4]:
s = "Hello World! Today I am learning Python"

Reverse the string 'hello' using slicing:

In [ ]:
#your code here

Split the string up into different words. Assing variable list2 to the resulting list. From l2, access the second letter of the fourth word

In [ ]:
#your code here

In [ ]:
#your code here

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [9]:
s2 = "Hello"

In [ ]:
#your code here

In [ ]:
#your code here

## Lists

Build this list [0,0,0] two separate ways.

In [10]:
# Method 1:

In [12]:
# Method 2:

Run the following code the create matrix arr

In [14]:
import numpy as np

In [24]:
arr = np.array(range(25)).reshape(5,5)

In [25]:
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

Change the fourth element in the fourth row to be 100

In [ ]:
#your code here

Reverse the first row of arr. Then replace the first row of arr with the reversed row

In [ ]:
#your code here

Sort the list below:

In [29]:
list1 = [4,2,6,8,4,9,0,1,234,34,1,-1,-1]

In [ ]:
#your code here

## Dictionaries and Sets

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [30]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [31]:
d = {"k1":"value","k2":"value","k3":23,"k234":"value",(1,2):(3,4)}

Can you sort a dictionary? Why or why not?<br><br>

What is unique about a set?<br><br>

Use code to generate a set of all of the unique values of dictionary d

In [ ]:
#your code here

## Tuples

What is the major difference between tuples and lists?<br><br>

How do you create a tuple?<br><br>

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [37]:
# Answer before running cell
2 > 3

False

In [32]:
# Answer before running cell
True or False

True

In [38]:
# Answer before running cell
False or True) and False)

False

In [40]:
# Answer before running cell
3.0 == 3

True

In [41]:
# Answer before running cell
4**0.5 != 2

False

In [39]:
# Add ( and ) to make the output True
False or True and False

False

Final Question: What is the boolean output of the cell block below?

## Great Job on your first assessment!